# Dependencies
node_modules/

# System Files
.DS_Store
Thumbs.db

# IDE Files
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log
npm-debug.log*

# Environment Variables
.env
.env.local

# Temporary Files
*.tmp
.temp/

# Build outputs
dist/
build/